@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Light.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: wrap; }

@font-face {
  font-family: 'HelveticaNeueCyr-Roman';
  src: url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: wrap; }

* {
  padding: 0;
  margin: 0;
  font-family: "HelveticaNeueCyr", sans-serif;
  font-size: 11px; }

body {
  overflow-x: hidden; }

.container {
  max-width: 781px;
  padding: 0; }

button:focus, button:active {
  outline: none !important; }

input:focus {
  outline: none !important; }

textarea:focus {
  outline: none !important; }

a:focus {
  outline: none !important; }

a:hover {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

img {
  width: 100%;
  height: 100%; }

a, :before, :after, button, input {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.btn {
  width: 182px;
  height: 43px;
  border: none;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #94ca2d;
  text-shadow: 0 1px 1px #578f22;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px; }
  .btn:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #ffffff;
    color: #94ca2d;
    border: 1px solid #94ca2d; }
  .btn:active, .btn:focus {
    outline: none; }

input::-webkit-input-placeholder {
  padding-left: 10px;
  letter-spacing: 0.6px; }

input::-moz-placeholder {
  padding-left: 10px;
  letter-spacing: 0.6px; }

input:-ms-input-placeholder {
  padding-left: 10px;
  letter-spacing: 0.6px; }

input::-ms-input-placeholder {
  padding-left: 10px;
  letter-spacing: 0.6px; }

input::placeholder {
  padding-left: 10px;
  letter-spacing: 0.6px; }

.colorprice {
  font-size: 15px;
  color: #b61919;
  font-weight: bold; }

section {
  padding-top: 50px; }

.blocktitle {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  margin: auto;
  font-family: 'HelveticaNeueCyr-Roman';
  position: relative; }
  .blocktitle::after {
    content: '';
    display: block;
    height: 4px;
    width: 40px;
    margin: auto;
    background-color: #18a7d0; }

.header {
  background: #000000;
  height: 58px;
  opacity: 0.62;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; }
  .header__phone {
    text-align: right; }
    .header__phone a {
      display: block; }
      .header__phone a:hover {
        opacity: 0.7; }

.logo {
  width: 63px;
  height: 32px; }

.navbar-brand {
  font-size: 13px;
  font-weight: 500;
  margin-right: auto;
  padding-left: 11px;
  line-height: 17px;
  letter-spacing: 0.5px; }
  .navbar-brand:hover {
    opacity: 0.7; }

.phone {
  color: #ffffff !important;
  font-size: 17px;
  font-weight: 700; }

.callback {
  color: #94ca2d;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.7px; }

.offer {
  background: url(../img/fone@1.5x.jpg) no-repeat center/cover;
  height: 461px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: 39px; }
  .offer__info {
    margin-top: 11rem;
    -webkit-animation: fadeInLeft 2s;
    animation: fadeInLeft 2s; }
  .offer__title {
    text-shadow: 0 2px 0 #272b25;
    color: #ffffff;
    font-size: 26px;
    font-weight: 700;
    width: 490px;
    letter-spacing: 1.1px; }
  .offer__text {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 0;
    letter-spacing: 1.1px; }

.vrboxfone {
  padding-top: 30px;
  width: 289px;
  height: 175px;
  padding-left: 0;
  margin-left: -1.2rem; }

.dinosaur {
  position: absolute;
  width: 340px;
  height: 263px;
  right: 23rem;
  bottom: 1.5rem;
  -webkit-animation: zoomIn 2s;
  animation: zoomIn 2s; }

.information {
  background-color: #f8f8f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 57px;
  padding-bottom: 46px;
  color: #000000; }
  .information__title {
    font-family: 'HelveticaNeueCyr-Roman';
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 0.8px; }
  .information__text {
    font-family: 'HelveticaNeueCyr-Roman';
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    width: 400px;
    margin-top: 15px;
    letter-spacing: 0.3px; }
  .information__img {
    padding: 0;
    width: 500px;
    height: 266px;
    margin-left: -34px;
    margin-top: 6px; }

.equipment {
  margin-top: -12px; }
  .equipment__title {
    margin-top: 30px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.8px; }
  .equipment__item {
    font-size: 17px;
    text-align: left;
    width: 287px;
    padding-right: 5px;
    line-height: 5px;
    letter-spacing: 0.8px; }
  .equipment__price {
    padding-top: 15px;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.8px; }
    .equipment__price-second {
      padding-top: 0px; }
  .equipment-btn {
    border-radius: 3px;
    -webkit-box-shadow: 0px 4px 0px 0px rgba(118, 174, 12, 0.1);
    box-shadow: 0px 4px 0px 0px rgba(118, 174, 12, 0.1);
    width: 350px;
    height: 46px;
    margin-top: 19px;
    letter-spacing: 0.8px; }

.second {
  margin-left: 8px; }

.opportunity {
  background-color: #fcfcf6;
  padding-bottom: 51px;
  padding-top: 62px; }
  .opportunity__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative; }
    .opportunity__info-travell {
      margin-top: 10px; }
  .opportunity__title {
    font-size: 16px;
    width: 260px;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-left: 26px;
    margin-top: -25px; }
    .opportunity__title-travell {
      width: 290px;
      margin-top: -8px; }
    .opportunity__title-mac {
      margin-top: 57px; }
    .opportunity__title-second {
      margin-left: 47px;
      margin-top: 28px; }
  .opportunity__text {
    font-size: 12px;
    width: 262px;
    margin-left: 60px;
    margin-top: 5px; }
    .opportunity__text-travell {
      width: 250px; }
    .opportunity__text-second {
      width: 258px;
      margin-left: 80px;
      margin-top: 5px;
      line-height: 17px; }
  .opportunity__second {
    padding-top: 30px; }

.film {
  width: 35px;
  height: 30px;
  padding-right: 7px; }

.globe {
  width: 35px;
  height: 30px;
  padding-right: 7px; }

.iPhone {
  width: 300px;
  margin-left: -10px;
  z-index: 1;
  position: relative;
  -webkit-animation: fadeInLeft 2s;
  animation: fadeInLeft 2s; }

.iPhone2 {
  width: 361px;
  margin-left: -59px;
  z-index: 1;
  position: relative;
  -webkit-animation: fadeInLeft 2s;
  animation: fadeInLeft 2s; }

.travell {
  width: 300px;
  margin-left: 42px;
  margin-top: -23px;
  -webkit-animation: fadeInRight 2s;
  animation: fadeInRight 2s; }

.mac {
  width: 380px;
  margin-left: 47px;
  margin-top: 37px;
  -webkit-animation: fadeInRight 2s;
  animation: fadeInRight 2s; }

.cube2 {
  position: absolute;
  left: 88px;
  top: 110px;
  width: 20px;
  height: 29px;
  z-index: 0;
  -webkit-animation: zoomIn 5s;
  animation: zoomIn 5s; }

.cube1 {
  position: absolute;
  right: 7px;
  bottom: 35px;
  width: 55px;
  height: 61px;
  -webkit-animation: zoomIn 5s;
  animation: zoomIn 5s; }

.cube3 {
  position: absolute;
  left: 43px;
  top: 106px;
  width: 52px;
  height: 57px;
  z-index: 1;
  -webkit-animation: zoomIn 5s;
  animation: zoomIn 5s; }

.cube4 {
  position: absolute;
  right: 83px;
  bottom: -2px;
  width: 44px;
  height: 48px;
  -webkit-animation: zoomIn 5s;
  animation: zoomIn 5s; }

.order {
  background: url(../img/orderfone.png) no-repeat center/cover;
  padding-top: 52px;
  padding-bottom: 15px;
  -webkit-animation: fadeInRight 2s;
  animation: fadeInRight 2s; }
  .order__second {
    background: url(../img/orderfone2.png) no-repeat center/cover;
    position: relative;
    -webkit-animation: fadeInRight 2s;
    animation: fadeInRight 2s; }
  .order__title {
    font-size: 23px;
    color: #fff;
    line-height: 1.2;
    text-align: left;
    width: 300px;
    letter-spacing: 2.5px;
    font-weight: bold;
    margin-top: 5px; }
  .order__text {
    background: url(../img/arrow.png) no-repeat center/cover;
    font-size: 12px;
    color: #fff;
    line-height: 1.2;
    text-align: left;
    padding: 5px;
    margin-top: 11px;
    width: 340px;
    letter-spacing: 1px; }
  .order__info {
    margin-top: 19px; }
    .order__info-first {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: top;
      -ms-flex-align: top;
      align-items: top;
      color: #fff; }
    .order__info-second {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: top;
      -ms-flex-align: top;
      align-items: top;
      color: #fff;
      margin-left: -10px; }

.watch {
  width: 30px;
  height: 25px;
  padding-right: 5px; }

form {
  border: 4px solid;
  border-color: #21a3af;
  border-radius: 3px;
  background-color: black;
  width: 267px;
  margin-left: 42px;
  margin-top: -34px;
  padding: 21px; }

.form-title {
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 18px; }

.form-group {
  margin-bottom: 8px; }

.form-control {
  height: 34px;
  background-color: #000000;
  width: 179px;
  margin: auto; }

.form-callback {
  color: #fff;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 6px; }

.form-btn {
  margin-left: 17px; }

.cube6 {
  position: absolute;
  width: 40px;
  height: 90px;
  top: -59px;
  left: 0; }

.work {
  background: url(../img/workfone.png) no-repeat center/cover;
  padding-bottom: 97px; }
  .work__row {
    margin-top: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .work__row-text {
      text-align: center;
      margin-top: 10px;
      width: 170px; }
    .work__row-foto {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }

.workfoto {
  width: 120px;
  height: 100px; }

.worknumber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 40px;
  margin-top: -10px; }

.compatibility {
  padding-bottom: 46px;
  padding-top: 59px;
  position: relative; }
  .compatibility__title {
    font-size: 25px;
    margin-left: 40px;
    margin-top: -34px;
    letter-spacing: 1.2px; }
  .compatibility__img {
    width: 85px;
    height: 180px; }
    .compatibility__img-android {
      margin-left: -20px; }
    .compatibility__img-windows {
      margin-left: -45px; }
  .compatibility__phone {
    margin-top: 40px; }

.firm {
  display: block;
  text-align: center;
  margin-top: 2px;
  font-size: 16px; }
  .firm-ios {
    margin-left: -18px; }
  .firm-android {
    margin-left: -60px; }
  .firm-windows {
    margin-left: -110px; }
  .firm-vrboxfone2 {
    margin-top: 12px;
    text-align: left;
    line-height: 20px;
    font-size: 15px;
    margin-left: -10px;
    letter-spacing: 0.5px; }

.vrboxfone2 {
  margin-top: -26px;
  margin-left: -16px;
  height: 176px; }

.coub {
  position: absolute;
  top: -65px;
  right: 0;
  width: 50px;
  height: 148px; }

.video {
  background: url(../img/videofone.jpg) no-repeat center/cover;
  height: 280px; }
  .video__title {
    color: #fff;
    font-size: 23px;
    text-align: center;
    margin: auto;
    width: 298px;
    line-height: 31px;
    letter-spacing: 1.7px;
    display: block; }
  .video__watch {
    margin: auto;
    font-size: 15px;
    color: #fff;
    padding-top: 5px; }

.play {
  width: 64px;
  padding-top: 7px;
  margin: auto;
  cursor: pointer; }

.attachment {
  padding-top: 55px;
  background-color: #fcfcf6;
  padding-bottom: 50px; }
  .attachment__phone {
    margin-top: 26px; }
  .attachment-btn {
    margin-top: 22px;
    margin-left: 6px; }

.phone__title {
  font-size: 15px;
  margin-top: 23px;
  letter-spacing: 0.5px; }

.phone__titleblaster {
  font-size: 15px;
  margin-top: 14px;
  letter-spacing: 0.5px; }

.phone__text {
  font-size: 12px;
  margin-top: 7px;
  line-height: 16px; }

.icon {
  width: 30px;
  margin: 5px;
  margin-top: 23px; }

.blaster {
  margin-top: 18px;
  width: 279px;
  height: 98px;
  margin-left: -74px; }

.titans {
  width: 267px;
  height: 106px;
  margin-left: -68px; }

.sisters {
  width: 267px;
  height: 106px;
  margin-left: -79px; }

.reviews {
  padding-top: 57px;
  position: relative; }

.cards {
  margin-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 10px; }

.card {
  border: 1px solid #41b3b3;
  padding: 23px;
  width: 391px;
  height: 225px;
  margin-top: 4px;
  margin-left: -10px; }
  .card__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .card__title {
    padding-left: 16px;
    font-size: 12px;
    width: 143px;
    line-height: 16px;
    letter-spacing: -0.1px; }
  .card__text {
    margin-top: 10px;
    font-size: 11px;
    letter-spacing: 0.3px; }

.foto {
  width: 80px;
  margin-top: -6px; }

.cube5 {
  position: absolute;
  width: 129px;
  height: 116px;
  top: 94px;
  right: 178px; }

.plan {
  padding-top: 106px;
  padding-bottom: 55px; }
  .plan__images {
    height: 73px;
    width: 97px; }
    .plan__images-truck {
      width: 51px; }
    .plan__images-purse {
      width: 67px; }
  .plan__phone {
    color: #000000; }
    .plan__phone:hover {
      color: #000000; }
  .plan__blog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 63px;
    -webkit-animation: zoomIn 2s;
    animation: zoomIn 2s; }
  .plan__text {
    text-align: center;
    width: 165px;
    line-height: 14px;
    margin-top: 10px;
    letter-spacing: 0.5px; }

.question {
  padding-top: 27px;
  padding-bottom: 30px; }
  .question__info {
    margin: auto;
    text-align: center; }
  .question__title {
    font-weight: bold;
    font-size: 26px;
    letter-spacing: 1px;
    font-family: 'HelveticaNeueCyr-Roman'; }
  .question__text {
    font-size: 12px;
    letter-spacing: 0.3px;
    width: 71%;
    margin: auto;
    border-bottom: 2px dashed; }

.footer {
  background-color: #000000;
  -webkit-animation: slideInUp 4s;
  animation: slideInUp 4s; }

.formModal {
  margin: auto; }

.modal-content {
  width: 267px;
  position: relative;
  margin: auto;
  top: 100px; }

.modal__close {
  position: absolute;
  right: -25px;
  top: -23px;
  width: 28px;
  height: 28px;
  background: transparent url(../img/close.png) no-repeat center;
  border: none;
  margin: 12px;
  cursor: pointer; }

#button-up {
  display: none;
  opacity: 0.8;
  filter: alpha(opacity=50);
  position: fixed;
  right: 20px;
  bottom: 0;
  color: #94ca2d;
  -webkit-transition: .5s;
  transition: .5s;
  font-size: 15px;
  z-index: 50; }
  #button-up img {
    width: 50px;
    height: 50px; }
  #button-up:hover {
    cursor: pointer;
    opacity: 1; }

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .dinosaur {
    right: 4rem; }
  .cube5 {
    right: 20px; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  section {
    padding: 0px; }
  .container {
    padding: 0px 10px 0px 10px; }
  .dinosaur {
    right: 4rem;
    width: 300px;
    height: 230px; }
  .cube5 {
    right: 20px;
    width: 80px;
    height: 84px; }
  form {
    margin-left: 0; }
  .mac {
    margin-left: 20px; }
  .card {
    width: 370px; }
  .plan {
    padding-top: 0; }
  .cube1 {
    right: 30px; }
  .opportunity {
    padding-top: 0px; }
  .reviews {
    padding-top: 0px; } }

@media screen and (min-width: 576px) and (max-width: 767px) {
  section {
    padding: 0px; }
  .container {
    padding: 0px 10px 0px 10px; }
  .dinosaur {
    right: 4rem;
    width: 200px;
    height: 160px; }
  .vrboxfone {
    width: 230px;
    height: 140px; }
  .blocktitle {
    width: 400px; }
  .information__img {
    margin-top: 72px; }
  .cube5 {
    right: 20px;
    width: 80px;
    height: 84px; }
  .coub {
    width: 35px;
    height: 100px; }
  .cube2 {
    left: 170px; }
  .order__info {
    margin-top: 15px;
    margin-bottom: 15px; }
    .order__info-first {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .order__info-second {
      margin-left: 0;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
  .order__text {
    margin: auto; }
  .order__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px; }
  form {
    margin: auto; }
  .mac {
    margin-left: 20px; }
  .card {
    width: 370px; }
  .plan {
    padding-top: 20px; }
    .plan__blog {
      margin-top: 30px; }
  .cube1 {
    right: 25px;
    top: 117px; }
  .iPhone {
    width: 260px; }
  .iPhone2 {
    width: 250px;
    margin-left: -70px; }
  .mac {
    width: 300px;
    margin-left: 0; }
  .travell {
    width: 260px;
    margin-left: 0px; }
  .opportunity {
    padding-top: 0px; }
    .opportunity__info {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .opportunity__text {
      margin-left: 0; }
    .opportunity__title {
      margin-left: 0; }
      .opportunity__title-second {
        margin-left: 29px; }
  .work {
    padding-bottom: 65px; }
    .work__row-foto {
      margin-top: 10px; }
  .reviews {
    padding-top: 0px; }
  .cards {
    margin: auto;
    display: block; }
  .phone__title, .phone__text, .phone__titleblaster {
    text-align: center;
    width: 420px;
    margin: auto;
    padding: 10px; }
  .sisters, .blaster, .titans {
    margin-left: 120px; }
  .video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .compatibility {
    padding-top: 25px; }
    .compatibility__phone-posicion {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .compatibility__img-android, .compatibility__img-windows {
      margin-left: 0; }
  .firm-ios, .firm-android, .firm-windows {
    margin: auto; }
  .vrboxfone2 {
    width: 400px;
    margin-left: 0px;
    margin-top: 20px; }
  .firm-vrboxfone2 {
    width: 400px;
    margin: auto;
    text-align: center; } }

@media screen and (min-width: 320px) and (max-width: 575px) {
  section {
    padding: 0px; }
  .container {
    padding: 0px 10px 0px 10px; }
  .header {
    height: 95px; }
    .header__phone {
      margin: auto;
      padding-top: 10px; }
      .header__phone a {
        display: inline; }
  .navbar-brand {
    font-size: 12px; }
  .offer {
    overflow: hidden; }
    .offer__title {
      width: 306px;
      font-size: 20px;
      margin-bottom: 20px; }
    .offer__text {
      display: none; }
  .dinosaur {
    right: -3rem;
    width: 200px;
    height: 160px; }
  .vrboxfone {
    width: 153px;
    height: 100px; }
  .blocktitle {
    width: 300px;
    font-size: 20px; }
  .information__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .information__img {
    margin: auto;
    width: 300px;
    height: 200px; }
  .information__text {
    width: 300px; }
  .equipment-btn {
    width: 300px;
    font-size: 10px; }
  .cube5 {
    display: none; }
  .coub {
    width: 35px;
    height: 100px;
    top: 50px; }
  .cube2 {
    left: 170px; }
  .order__info {
    margin-top: 15px;
    margin-bottom: 15px; }
    .order__info-first {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .order__info-second {
      margin-left: 0;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
  .order__text {
    background: url(../img/arrow2.png) no-repeat center/cover;
    height: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 298px; }
  .order__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px; }
  form {
    margin: auto; }
  .mac {
    margin-left: 20px; }
  .card {
    width: 300px; }
  .plan {
    padding-top: 20px; }
    .plan__blog {
      margin-top: 30px; }
  .cube1 {
    display: none; }
  .iPhone {
    width: 100%;
    margin: auto; }
  .iPhone2 {
    width: 270px;
    margin: auto; }
  .mac {
    width: 300px; }
  .travell {
    width: 260px;
    margin-left: 25px;
    margin-bottom: 30px; }
  .opportunity {
    padding-top: 20px; }
    .opportunity__info {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .opportunity__info-travell {
        margin-top: 30px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse; }
      .opportunity__info-mac {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse; }
    .opportunity__text {
      margin-left: 29px; }
    .opportunity__title-second {
      margin-left: 29px; }
    .opportunity__title-travell {
      margin-left: 0; }
    .opportunity__title-mac {
      margin-top: 20px; }
  .cube4 {
    display: none; }
  .work {
    padding-top: 20px;
    padding-bottom: 100px; }
    .work__row {
      margin-top: 20px; }
      .work__row-foto {
        margin-top: 10px; }
  .reviews {
    padding-top: 0px; }
  .cards {
    margin: auto;
    display: block; }
  .phone__title, .phone__text, .phone__titleblaster {
    text-align: center;
    width: 300px;
    margin: auto;
    padding: 10px; }
  .sisters, .blaster, .titans {
    margin: auto; }
  .video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .compatibility {
    padding-top: 25px; }
    .compatibility__phone-posicion {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .compatibility__img-android, .compatibility__img-windows {
      margin-left: 0; }
  .firm-ios, .firm-android, .firm-windows {
    margin: auto; }
  .vrboxfone2 {
    width: 250px;
    margin-left: 0px;
    margin-top: 20px; }
  .firm-vrboxfone2 {
    width: 250px;
    margin: auto;
    text-align: center; } }
