@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Light.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: wrap; }

@font-face {
  font-family: 'HelveticaNeueCyr-Roman';
  src: url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: wrap; }

* {
  padding: 0;
  margin: 0;
  font-family: "HelveticaNeueCyr", sans-serif;
  font-size: 11px; }

body {
  overflow-x: hidden; }

.container {
  max-width: 781px;
  padding: 0; }

button:focus, button:active {
  outline: none !important; }

input:focus {
  outline: none !important; }

textarea:focus {
  outline: none !important; }

a:focus {
  outline: none !important; }

a:hover {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

img {
  width: 100%;
  height: 100%; }

a, :before, :after, button, input {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.btn {
  width: 182px;
  height: 43px;
  border: none;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #94ca2d;
  text-shadow: 0 1px 1px #578f22;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px; }
  .btn:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #ffffff;
    color: #94ca2d;
    border: 1px solid #94ca2d; }
  .btn:active, .btn:focus {
    outline: none; }

label.invalid {
  position: absolute;
  margin-top: 53px;
  color: #000; }

input.invalid {
  border-bottom: 1px solid   #94ca2d; }

.colorprice {
  font-size: 15px;
  color: #b61919;
  font-weight: bold; }

.header {
  background: #000000;
  height: 58px;
  opacity: 0.62;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; }
  .header__phone {
    text-align: right; }
    .header__phone a {
      display: block; }
      .header__phone a:hover {
        opacity: 0.7; }

.logo {
  width: 63px;
  height: 32px; }

.navbar-brand {
  font-size: 13px;
  font-weight: 500;
  margin-right: auto;
  padding-left: 11px;
  line-height: 17px;
  letter-spacing: 0.5px; }
  .navbar-brand:hover {
    opacity: 0.7; }

.phone {
  color: #ffffff !important;
  font-size: 17px;
  font-weight: 700; }

.callback {
  color: #94ca2d;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.7px; }

.offer {
  background: url(../img/fone@1.5x.jpg) no-repeat center/cover;
  height: 461px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0; }
  .offer__info {
    margin-top: 11rem;
    -webkit-animation: fadeInLeft 2s;
    animation: fadeInLeft 2s; }
  .offer__title {
    text-shadow: 0 2px 0 #272b25;
    color: #ffffff;
    font-size: 26px;
    font-weight: 700;
    width: 490px;
    letter-spacing: 1.1px; }
  .offer__text {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 0;
    letter-spacing: 1.1px; }

.vrboxfone {
  padding-top: 30px;
  width: 289px;
  height: 175px;
  padding-left: 0;
  margin-left: -1.2rem; }

.dinosaur {
  position: absolute;
  width: 340px;
  height: 263px;
  right: 23rem;
  bottom: 0.5rem; }

.information {
  background-color: #f8f8f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 68px;
  padding-bottom: 46px;
  color: #000000; }
  .information__title {
    font-family: 'HelveticaNeueCyr-Roman';
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 0.8px; }
  .information__text {
    font-family: 'HelveticaNeueCyr-Roman';
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    width: 400px;
    margin-top: 15px;
    letter-spacing: 0.3px; }
  .information__img {
    padding: 0;
    width: 500px;
    height: 266px;
    margin-left: -34px;
    margin-top: 6px; }

.equipment {
  margin-top: -12px; }
  .equipment__title {
    margin-top: 30px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.8px; }
  .equipment__item {
    font-size: 17px;
    text-align: left;
    width: 287px;
    padding-right: 5px;
    line-height: 5px;
    letter-spacing: 0.8px; }
  .equipment__price {
    padding-top: 15px;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.8px; }
    .equipment__price-second {
      padding-top: 0px; }
  .equipment-btn {
    border-radius: 3px;
    -webkit-box-shadow: 0px 4px 0px 0px rgba(118, 174, 12, 0.1);
    box-shadow: 0px 4px 0px 0px rgba(118, 174, 12, 0.1);
    width: 340px;
    height: 46px;
    margin-top: 19px;
    letter-spacing: 0.8px; }

.second {
  margin-left: 8px; }

.opportunity {
  background-color: #fcfcf6;
  padding-top: 60px;
  padding-bottom: 51px; }
  .opportunity__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative; }
    .opportunity__info-travell {
      margin-top: 10px; }
  .opportunity__title {
    font-size: 16px;
    width: 260px;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-left: 26px;
    margin-top: -25px; }
    .opportunity__title-travell {
      width: 290px;
      margin-top: -8px; }
    .opportunity__title-mac {
      margin-top: 57px; }
    .opportunity__title-second {
      margin-left: 0px;
      margin-top: 28px; }
  .opportunity__text {
    font-size: 12px;
    width: 262px;
    margin-left: 60px;
    margin-top: 5px; }
    .opportunity__text-travell {
      width: 250px; }
    .opportunity__text-second {
      width: 258px;
      margin-left: 34px;
      margin-top: 5px;
      line-height: 17px; }
  .opportunity__second {
    padding-top: 30px; }

.film {
  width: 35px;
  padding-right: 7px; }

.globe {
  width: 35px;
  padding-right: 7px; }

.iPhone {
  width: 300px;
  margin-left: -10px;
  z-index: 1;
  position: relative; }

.iPhone2 {
  width: 361px;
  margin-left: -45px;
  z-index: 1;
  position: relative; }

.travell {
  width: 300px;
  margin-left: 42px;
  margin-top: -23px; }

.mac {
  width: 380px;
  margin-left: 47px;
  margin-top: 37px; }

.cube2 {
  position: absolute;
  left: 88px;
  top: 110px;
  width: 20px;
  height: 29px;
  z-index: 0; }

.cube1 {
  position: absolute;
  right: 7px;
  bottom: 35px;
  width: 55px;
  height: 61px; }

.cube3 {
  position: absolute;
  left: 43px;
  top: 106px;
  width: 52px;
  height: 57px;
  z-index: 1; }

.cube4 {
  position: absolute;
  right: 83px;
  bottom: -2px;
  width: 44px;
  height: 48px; }

.order {
  background: url(../img/orderfone.png) no-repeat center/cover;
  padding-top: 50px;
  padding-bottom: 50px; }
  .order__title {
    font-size: 23px;
    color: #fff;
    line-height: 1.2;
    text-align: left;
    width: 300px;
    letter-spacing: 2.5px;
    font-weight: bold;
    margin-top: 5px; }
  .order__text {
    background: url(../img/arrow.png) no-repeat center/cover;
    font-size: 12px;
    color: #fff;
    line-height: 1.2;
    text-align: left;
    padding: 5px;
    margin-top: 11px;
    width: 340px;
    letter-spacing: 1px; }
  .order__info {
    margin-top: 27px; }
    .order__info-first {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: top;
      -ms-flex-align: top;
      align-items: top;
      color: #fff; }

.watch {
  width: 30px;
  padding-right: 5px; }

form {
  border: 4px solid;
  border-color: #21a3af;
  border-radius: 3px;
  background-color: black;
  padding: 20px;
  width: 267px;
  margin-left: 42px;
  margin-top: -34px; }

.form-title {
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 21px; }

.form-group {
  margin-bottom: 8px; }

.form-control {
  height: 34px; }

.form-callback {
  color: #fff;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
