@font-face {
  font-family: 'HelveticaNeueCyr';
  src:
    url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Light.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}

@font-face {
  font-family: 'HelveticaNeueCyr-Roman';
  src:
    url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
    url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}