@media  screen and (min-width : 992px) and (max-width : 1200px)
  .dinosaur 
    right: 4rem
  .cube5 
    right: 20px
@media  screen and (min-width : 768px) and (max-width : 991px)
  section
    padding: 0px
  .container
    padding: 10px
  .dinosaur 
    right: 4rem
    width: 300px
    height: 230px
  .cube5 
    right: 20px
    width: 80px
    height: 84px
  form
    margin-left: 0
  .mac 
    margin-left: 20px
  .card 
    width: 370px
  .plan
    padding-top: 0
  .cube1 
    right: 30px
  .opportunity 
    padding-top: 0px
  .reviews 
    padding-top: 0px
@media  screen and (min-width : 576px) and (max-width : 767px)
  section
    padding: 0px
  .container
    padding: 10px
  .dinosaur 
    right: 4rem
    width: 200px
    height: 160px
  .vrboxfone 
    width: 230px
    height: 140px
  .blocktitle 
    width: 400px
  .information
    &__img 
      margin-top: 72px
  .cube5 
    right: 20px
    width: 80px
    height: 84px
  .cube2 
    left: 170px
  form
    margin-left: 0
  .mac 
    margin-left: 20px
  .card 
    width: 370px
  .plan
    padding-top: 0
  .cube1 
    right: 25px
    top: 117px
  .iPhone 
    width: 260px
  .iPhone2 
    width: 340px
    margin-left: -110px
  .mac 
    width: 300px
    margin-left: 0
  .travell 
    width: 260px
    margin-left: 0px
  .opportunity 
    padding-top: 0px
    &__info
      justify-content: center
    &__text
      margin-left: 29px
    &__title
      &-second 
        margin-left: 29px
  .reviews 
    padding-top: 0px
  .cards
    margin: auto
    display: block
  .phone
    &__title, &__text, &__titleblaster
      text-align: center
      width: 420px
      margin: auto
      padding: 10px
  .sisters, .blaster, .titans
    display: flex
    margin: auto
    padding: 0
