.information
  background-color: #f8f8f0
  display: flex
  align-items: center
  padding-top: 57px
  padding-bottom: 46px
  color: #000000
  &__title
    font-family: 'HelveticaNeueCyr-Roman'
    font-size: 23px
    font-weight: bold
    letter-spacing: 0.8px
  &__text
    font-family: 'HelveticaNeueCyr-Roman'
    font-size: 11px
    font-weight: 400
    line-height: 16px
    width: 400px
    margin-top: 15px
    letter-spacing: 0.3px

.equipment
  margin-top: -12px
  &__title
    margin-top: 30px
    font-size: 13px
    font-weight: bold
    letter-spacing: 0.8px
  &__item
    font-size: 17px
    text-align: left
    width: 287px
    padding-right: 5px
    line-height: 5px
    letter-spacing: 0.8px
  &__price
    padding-top: 15px
    font-size: 12px
    line-height: 1.2
    letter-spacing: 0.8px
    &-second
      padding-top: 0px
  &-btn
    border-radius: 3px
    box-shadow: 0px 4px 0px 0px rgba(118, 174, 12, 0.1)
    width: 350px
    height: 46px
    margin-top: 19px
    letter-spacing: 0.8px
.second
  margin-left: 8px
