.opportunity
  background-color: rgb(252, 252, 246)
  padding-top: 60px
  &__info
    display: flex
    align-items: center
    position: relative
    &-travell
      margin-top: 10px
  &__title
    font-size: 16px
    width: 260px
    font-weight: bold
    display: flex
    align-items: center
    flex-direction: row
    margin-left: 26px
    margin-top: -25px
    &-travell
      width: 290px

  &__text
    font-size: 12px
    width: 262px
    margin-left: 60px
    margin-top: 5px
    &-travell
      width: 250px

.film
  width: 35px
  padding-right: 7px
.globe
  width: 35px
  padding-right: 7px

.iPhone
  width: 300px
  margin-left: -10px
  z-index: 1
  position: relative
.travell
  width: 300px
  margin-left: 50px
  margin-top: -14px
.cube2
  position: absolute
  left: 88px
  top: 110px
  width: 20px
  height: 29px
  z-index: 0
.cube1
  position: absolute
  right: 7px
  bottom: 35px
  width: 55px
  height: 61px
