.order 
  background: url(../img/orderfone.png) no-repeat center/cover
  padding-top: 52px
  padding-bottom: 15px
  &__second
    background: url(../img/orderfone2.png) no-repeat center/cover
    position: relative
  &__title
    font-size: 23px
    color: #fff
    line-height: 1.2
    text-align: left
    width: 300px
    letter-spacing: 2.5px
    font-weight: bold
    margin-top: 5px
  &__text
    background: url(../img/arrow.png) no-repeat center/cover
    font-size: 12px
    color: #fff
    line-height: 1.2
    text-align: left
    padding: 5px
    margin-top: 11px
    width: 340px
    letter-spacing: 1px
  &__info
    margin-top: 19px
    &-first
      display: flex
      align-items: top
      color: #fff
    &-second
      display: flex
      align-items: top
      color: #fff
      margin-left: -10px
.watch
  width: 30px
  padding-right: 5px
form
  border: 4px solid
  border-color: rgb(33, 163, 175)
  border-radius: 3px
  background-color: rgb(0, 0, 0)
  width: 267px
  margin-left: 42px
  margin-top: -34px
  padding: 21px
.form-title
  font-size: 15px
  color: #fff
  line-height: 1.2
  text-align: center
  margin-bottom: 18px
.form-group 
  margin-bottom: 8px
.form-control
  height: 34px
  background-color: #000000
  width: 179px
  margin: auto
.form-callback
  color: #fff
  font-size: 10px
  display: flex
  justify-content: center
  margin-top: 6px
.form-btn
  margin-left: 17px
.cube6
  position: absolute
  width: 40px
  height: 90px
  top: -59px
  left: 0
